@model List<Company.Models.SaleUserModel>
@{
    ViewBag.Title = "销售人员管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<form class="form-inline definewidth m20" action="index.html" method="get">
    类型名称：
    <input type="text" name="menuname" id="menuname" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; <a type="button" class="btn btn-success" id="addnew" href="/Admin/SaleUser/Add">添加销售人员</a>
</form>

<table class="table table-bordered table-hover definewidth m10">
    <thead>
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>电话</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var k in Model)
            {
                <tr>
                    <td>@k.SaleUserId</td>
                    <td>@k.SaleUserName</td>
                    <td>@k.SaleUserPhone</td>
                </tr>
            }
        }
        else
        {
            <tr><td>还没有添加公司信息呢，点击【添加销售人员】添加</td></tr>
        }
    </tbody>

</table>

