
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var cList = (List<Company.Models.CategoryModel>)ViewBag.CategoryList;
}

<form action="/Product/Add" method="post" enctype="multipart/form-data" class="definewidth m20">
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">名称</td>
            <td>
                <input type="text" name="alt" />
            </td>
        </tr>
        <tr>
            <td class="tableleft">类别</td>
            <td>
                <select name="Category">
                    @foreach (var c in cList)
                    {
                        <option value="@c.CategoryId">@c.CategoryName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="tableleft">图片</td>
            <td>
                <input type="file" name="url" src="/net/imageup.ashx" />
            </td>
        </tr>
        <tr>
            <td class="tableleft" colspan="2">描述</td>
        </tr>
        <tr>
            <td colspan="2">
                <script type="text/plain" name="detial" id="pDesc" style="width: 875px; height: 210px; min-height: 210px; max-height: 210px; overflow-y: auto;">

                </script>
            </td>
        </tr>
        <tr>
            <td class="tableleft" colspan="2">参数</td>
        </tr>
        <tr>
            <td colspan="2">
                <script type="text/plain" name="detialimg" id="pImg" style="width: 875px; height: 210px; min-height: 210px; max-height: 210px; overflow-y: auto;">
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-primary" value="提交" />
                <a href="p.aspx" class="btn btn-success">返回列表</a>
            </td>
        </tr>
    </table>
</form>
@section js
{
<link href="/dep/umeditor/themes/default/css/umeditor.css" rel="stylesheet" />
<script src="/dep/umeditor/umeditor.config.js"></script>
<script src="/dep/umeditor/umeditor.min.js"></script>
<script src="/dep/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

        $(function () {
            var pdesc = '', pimg = '';
            UM.getEditor('pDesc', {
                toolbar: [
                    'source undo redo bold forecolor removeformat insertorderedlist insertunorderedlist selectall cleardoc justifyleft justifycenter justifyright justifyjustify paragraph fontfamily fontsize | image'
                ],
                scaleEnabled: true,
                autoFloatEnabled: false,
                imageUrl: "/net/imageup.ashx",
                imagePath: ''
            }).setContent(pdesc, false);

            UM.getEditor('pImg', {
                toolbar: [
                    'source undo redo bold forecolor removeformat insertorderedlist insertunorderedlist selectall cleardoc justifyleft justifycenter justifyright justifyjustify paragraph fontfamily fontsize | image'
                ],
                scaleEnabled: true,
                autoFloatEnabled: false,
                imageUrl: "/net/imageup.ashx",
                imagePath: ''
            }).setContent(pimg, false);

            UM.getEditor('pUrl', {
                toolbar: [
                      'source undo redo  | image'
                ],
                scaleEnabled: true,
                autoFloatEnabled: false,
                imageUrl: "/net/imageup.ashx",
                imagePath: ''
            }).setContent(pimg, false);
        });

</script>
}