@model Company.Models.DictionaryModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<form action="/Category/Save" enctype="multipart/form-data" method="post" class="definewidth m20">
    <table class="table table-bordered table-hover m10">

        <tr>
            <td class="tableleft" width="10%">名称</td>
            <td><input type="text" name="CategoryName" placeholder="产品类型" /></td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>
