@model Company.Models.SaleUserModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var cList = (List<Company.Models.DictionaryModel>)ViewBag.CompanyList;
}


<form action="/SaleUser/Save" enctype="multipart/form-data" method="post" class="definewidth m20">
    <table class="table table-bordered table-hover m10">

        <tr>
            <td class="tableleft" width="10%">公司</td>
            <td>
                <select name="CompanyId">
                    @foreach (var c in cList)
                    {
                        <option value="@c.CompanyId">@c.CompanyName</option>
                    }
                </select>
            </td>
         
        </tr>
        <tr>
            <td class="tableleft" width="10%">姓名</td>
            <td><input type="text" name="SaleUserName" placeholder="姓名" /></td>
        </tr>
        <tr>
            <td class="tableleft" width="10%">电话</td>
            <td><input type="text" name="SaleUserPhone" placeholder="电话" /></td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>
