@model Company.Models.DictionaryModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<form action="/Company/Save" enctype="multipart/form-data" method="post" class="definewidth m20">
    <table class="table table-bordered table-hover m10">
        @*<tr>
                <td width="10%" class="tableleft">上级</td>
                <td>
                    <select name="parentid">
                        <option value="0">一级菜单</option>
                        <option value='1' />&nbsp;系统管理</option>
                        <option value='7' />&nbsp;明信片管理</option>
                    </select>
                </td>
            </tr>*@
        <tr>
            <td class="tableleft" width="10%">名称</td>
            <td><input type="text" name="CompanyName" placeholder="公司名称" /></td>
        </tr>
        <tr>
            <td class="tableleft">Logo图片</td>

            <td><input type="file" name="CompanyLogo" /></td>
        </tr>
        <tr>
            <td class="tableleft">描述</td>
            <td><textarea name="CompanyDesc" rows="5"></textarea></td>
        </tr>
        <tr>
            <td class="tableleft">公司图片（首页用）</td>
            <td><input type="file" name="CompanyImg" /></td>
        </tr>
        <tr>
            <td rowspan="3" class="tableleft">轮播图（首页用）</td>
            <td><input type="file" name="BannerUrl1" /></td>
        </tr>

        <tr> <td><input type="file" name="BannerUrl2" /></td> </tr>
        <tr> <td><input type="file" name="BannerUrl3" /></td> </tr>

        <tr>
            <td class="tableleft">地址</td>
            <td>
                <input type="text" name="CompanyAddress" />

            </td>
        </tr>
        <tr>
            <td class="tableleft">备案信息</td>
            <td>
                <input type="text" name="CompanyCopyRight" />

            </td>
        </tr>
        <tr>
            <td class="tableleft">邮箱</td>
            <td>
                <input type="text" name="Email" />

            </td>
        </tr>
        <tr>
            <td class="tableleft">邮编</td>
            <td>
                <input type="text" name="AreaCode" />

            </td>
        </tr>
        <tr>
            <td class="tableleft">传真</td>
            <td>
                <input type="text" name="Fax" />

            </td>
        </tr>
        <tr>
            <td class="tableleft">电话</td>
            <td>
                <input type="text" name="Tel" />

            </td>
        </tr>
        @*<tr>
                <td class="tableleft">销售人员列表</td>
                <td>
                    <input type="text" name="SaleInfo" />

                </td>
            </tr>*@

        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>
